In [1]:
list=[1,2,3,4,5]
list[:2]

[1, 2]

In [6]:
l1=[2,2,4,4,4,4,6,6,6,8,8,10,10,10,10,10]
l2=[1,1,1,1,1,3,3,3,3,5,5,5,7,7,9]
l3=l1+l2
d={}
for i in l3:
    if(i in d.keys()):
        d[i]+=1
    else:
        d[i]=1
d

{2: 2, 4: 4, 6: 3, 8: 2, 10: 5, 1: 5, 3: 4, 5: 3, 7: 2, 9: 1}

In [26]:
import pandas as pd
data=pd.read_csv("names.csv")
data.head()

            Name                   Email
0       John Doe     johndoe@example.com
1    Alice Smith    alicesmith@gmail.com
2    Bob Johnson    bobjohnson@yahoo.com
3     Emma Brown       em@il@example.com
4  Michael Davis  michaeldavis@gmail.com

In [65]:
import re

def email_check(x):
    expression=r'\b[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Z|a-z]{2,7}\b'
    if re.match(expression,x):
        return "valid"
    else:
        return "invalid"

In [67]:
data["valid/invalid"]=data["Email"].apply(email_check)
data

              Name                      Email valid/invalid
0         John Doe        johndoe@example.com         valid
1      Alice Smith       alicesmith@gmail.com         valid
2      Bob Johnson       bobjohnson@yahoo.com         valid
3       Emma Brown          em@il@example.com       invalid
4    Michael Davis     michaeldavis@gmail.com         valid
5     Sarah Wilson  sarah.wilson@invalidemail       invalid
6  Christopher Lee      chris@lee@hotmail@com       invalid

In [69]:
with open("story.txt","r") as txt:
    data=txt.read()
    processed_data=""
    for i in data:
        if i in [",","%","$","#","@","!","^","&","*","(",")","{","}","[","]","+","_","-","=",";",":","\'","\"","<",">",",","."]:
            processed_data+=i
    d={}
    print("number of words: ",len(data.split()))
    for i in data.split():
        if(i in d.keys()):
            d[i]+=1
        else:
            d[i]=1
    max=["",0]
    for i in d.keys():
        if(max[1]<d[i]):
            max=[i,d[i]]
    print("most occurring word: ",max[0])

number of words:  570
most occurring word:  the